{% extends 'question_home.html' %}

{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="/">首页</a>></li>
            <li><a href="{% url 'record' %}">提交</a>></li>
		</ul>
	</div>
</section>
{% endblock %}
{% block table %}
    <thead>
        <th class="idr"><strong>提交日期</strong></th>
        <th class="rater"><strong>状态</strong></th>
        <th class="rater"><strong>题名</strong></th>
        <th class="diffr"><strong>语言</strong></th>
        <th class="diffr"><strong>用户</strong></th>
        <th class="diffr"><strong>运行时间</strong></th>
        <th class="diffr"><strong>内存</strong></th>
    </thead>
    <tbody>
        {% for record in records.object_list %}
            <tr>
                <td>{{ record.add_time|date:"Y-m-d H:i:s" }}</td>
                {% if record.status == '0' %}
                    <td class="p_status_a">Accepted</td>
                {% elif record.status == '-1'%}
                    <td class="p_status_w">Wrong Answer</td>
                {% elif record.status == '3'%}
                    <td class="p_status_w">Memory Limit Exceeded</td>
                {% elif record.status == '4'%}
                    <td class="p_status_w">Runtime Error</td>
                {% elif record.status == '5'%}
                    <td class="p_status_w">System Error</td>
                {% elif record.status == '6'%}
                    <td class="p_status_w">Waiting And Refresh</td>
                {% else %}
                    <td class="p_status_w">Time Limit Exceeded</td>
                {% endif %}
                <td class="titler">
                    <a href="/question/{{ record.problem_id.id }}/">
                        {{ record.problem_id}}</a>
                </td>
                <td class="rater">{{ record.language }}</td>
                <td class="diffr">{{ record.user_id }}</td>
                <td class="diffr">{{ record.time_cost }}ms</td>
                <td class="diffr">{% widthratio record.memory_cost 1000000 1 %}MB</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
{% block page_turn %}
<div class="pageturn">
            <ul class="pagelist">
                {% if records.has_previous %}
                    <li class="long"><a href="?{{ records.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                {% for page in records.pages %}
                    {% if page %}
                        {% ifequal page records.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if records.has_next %}
                    <li class="long"><a href="?{{ records.next_page_number.querystring }}">下一页</a></li>
                {% endif %}

            </ul>
        </div>
{% endblock %}