{% extends 'usercenter-info.html' %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/oj/questions_table.css' %}">
{% endblock %}

{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user_info' %}">个人信息</a>></li>
                <li>我的提交记录</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content_left %}
<div class="left">
        <ul>
            <li ><a href="{% url 'user_info' %}">个人信息</a></li>
            <li class="active2"><a href="{% url 'show_records' %}">我的提交记录</a></li>
        </ul>
	</div>

{% endblock %}

{% block content_right %}
<div class="right">
    <div class="personal_des ">
        <div class="head" style="border:1px solid #eaeaea;">
            <h1>提交记录</h1>
        </div>
        <div class="listoptions">
            <table class="problemlist">
                <thead>
                    <th class="idr"><strong>提交日期</strong></th>
                    <th class="rater"><strong>状态</strong></th>
                    <th class="rater"><strong>题名</strong></th>
                    <th class="diffr"><strong>语言</strong></th>
                </thead>
                <tbody>
                    {% for record in records.object_list %}
                        <tr>
                            <td class="time">{{ record.add_time }}</td>
                            <td class="rater">{{ record }}</td>
                            <td class="titler">
                                <a href="/question/{{ record.problem.id }}/">
                                    {{ record.problem }}</a>
                            </td>
                            <td class="rater">{{ record.language }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<div class="pageturn">
            <ul class="pagelist">
                {% if records.has_previous %}
                    <li class="long"><a href="?{{ records.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                {% for page in records.pages %}
                    {% if page %}
                        {% ifequal page records.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if records.has_next %}
                    <li class="long"><a href="?{{ records.next_page_number.querystring }}">下一页</a></li>
                {% endif %}

            </ul>
        </div>
</div>
{% endblock %}